.next-blocks-container{
  width: 70px;
  height: 210px;
  position: relative;
  background: #c6e4ee;
  box-shadow: .25rem .25rem 1rem rgba(0,0,0,.2);
  transform: rotateX(45deg) rotateZ(-35deg) translateZ(-10rem);
  transform-style: preserve-3d;
  display: grid;
  align-self: center;
}

.next-blocks-container div{
  float: left;
  background: #f6f6f6 !important;
  transform-origin: 100% 100%;
  position: relative;
  box-shadow: .125em .125em .5em rgba(0,0,0,.09);
}

.next-blocks-container div:last-child {
  background: #c6e4ee !important;
}