.block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
}
  
.block:after {
  content: '';
  display: block;
  padding-top: 100%;
}