.game-board{
  width: var(--side-board);
  height: var(--side-board);
  position: relative;
  box-shadow: .25rem .25rem 1rem rgba(0,0,0,.2);
  transform: rotateX(45deg) rotateZ(-35deg);
  transform-style: preserve-3d;
  display: grid;   
  align-self: flex-start;
  margin-top: 4rem;
  background: #f6f6f6;
}

.game-board div {
  background: #f6f6f6;
  position: relative;
  box-shadow: .125em .125em .5em rgba(0,0,0,.09);
}

.cell-inner-effect:hover {
  box-shadow: inset 0em 0em .2em .2em var(--color-light);
  cursor: pointer;
}