.gameBoard {
  border: 1px solid black;
  display: grid;
  grid-auto-flow: column;
  margin: 1rem;
  /* width: 500px;
  height: 500px; */
}
  
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 70px;
  height: 70px;
}
  
.randomContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid black;
}
  
.randomContainer :first-child {
  background-color: lightblue;
}
  
.selectSizeBoard {
  margin-right: 1rem;
}