.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardContainer {
    display: flex;
    align-items: flex-start;
    position: relative;
}