* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --height-game: 550px;
  --side-board: 24rem;
  --color-dark: #122d3a;
  --color-light: #c6e4ee;
  --color-extra: #eb9902;
}